<?xml version="1.0" encoding="utf-8" ?>
<databasemigrationsettings>
  <server>.\integration</server>
  <database>VisaDebitMicrositeAU</database>
  <defaultuser></defaultuser>
  <defaultuserpassword></defaultuserpassword>
  <migrationuser></migrationuser>
  <migrationuserpassword></migrationuserpassword>
</databasemigrationsettings>